APP_PORT=8000
APP_ORIGIN=http://localhost:8000
ENV_NAME=dev

# OpenTelemetry for local development.
OTEL_DENO=false
OTEL_SERVICE_NAME=hobproj-dev
OTEL_SERVICE_VERSION=dev
OTEL_EXPORTER_OTLP_PROTOCOL=console
